body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

#app {
    text-align: center;
}

#movies-list {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
}

.movie {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #444;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.movie img {
    width: 150px;
    height: 225px;
    object-fit: cover;
    border-radius: 10px;
}

.movie a {
    margin-top: 10px;
    text-decoration: none;
    color: #fff;
}
