<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Movie App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div id="app">
        <h1>Welcome to Hi Flix </h1>
        <div id="movies-list" class="movie-grid"></div>
    </div>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
<footer>
    <p>&copy Developed by Inderdeep Singh</p>
</footer>
</html>
